@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&family=Raleway:ital,wght@0,400;1,200&display=swap');



.welcome {font-family: "Raleway", serif;
  font-weight:600;
  letter-spacing: 1px;
  font-size: 14px;
  margin-left:30px;
}

h2{
margin-left:30px;
}

.centerChildren{
margin-left:0px;  
}




.Image_body{
  background-image: url('./friends/images/darkgreen.jpg');
  background-size: cover;
  background-attachment:fixed;
  background-position:center bottom;
  background-blend-mode: overlay;
  background-repeat: no-repeat;
  
}