@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&family=Raleway:ital,wght@0,400;1,200&display=swap');


body{
  background-image: url('./images/food.jpg');
  background-size: cover;
  background-attachment:fixed;
  background-position:center bottom;
  background-blend-mode: overlay;
  background-repeat: no-repeat;
  
}


.AddName{
    font-family: "Raleway", serif;
    font-size:15px;
    
}

.form-group2{
    margin-left:30px;
    margin-top: 0px;
    font-size:14px;
    font-family: "Raleway", serif;
  }

  button{
    margin-left:40px;
  }

  .userRestrictionForm__title{
    margin:0px;
    margin-left: 30px;
    font-size: 20px;
    margin-bottom: 25px;

  }
  
  p{
    margin-left:30px;
    margin-top: 0px;
    margin-bottom:0px;
    
    

  }

  .friendList{
      background-color: rgb(204, 245, 231); 
      padding: 20px;
      margin-bottom: 10px;

  }

  .userRestrictionForm__title{
    margin-left: 30px;
    margin-bottom: 0px;
  }

