
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&family=Raleway:ital,wght@0,400;1,200&display=swap');




.AddName{
    font-family: "Raleway", serif;
    font-size:15px;
    
}

.form-group2{
    margin-left:30px;
    margin-top: 0px;
    font-size:14px;
    font-family: "Raleway", serif;
  }

  button{
    margin-left:30px;
  }

  .userRestrictionForm__title{
    margin:0px;
    margin-left: 30px;
    font-size: 20px;
    margin-bottom: 25px;

  }

.friendList{
    margin-top:60px;
    margin-left:30px;
    background-color:white ;
    padding-bottom: 0px;
    padding-top: 0px;
  }

  .allergic{
    margin-left: 30px;
    margin-bottom: 0px;
    margin-top: 0px;
  }

  .severity{
    margin-left: 30px;
    margin-bottom: 10px;
    margin-top: 5px;
  }

  .name{
    margin-left: 30px;
    margin-bottom: 0px;
    margin-top: 5px;
    /* text-decoration: underline 1px;  */
    

  }

  .treatment{
    margin-left: 30px;
    margin-bottom: 10px;
    margin-top: 5px;
  }


