
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&family=Raleway:ital,wght@0,400;1,200&display=swap');




.AddName{
    font-family: "Raleway", serif;
    font-size:15px;
    
}

.form-group2{
    margin-left:30px;
    margin-top: 0px;
    font-size:14px;
    font-family: "Raleway", serif;
  }

 

  .userRestrictionForm__title{
    margin:0px;
    margin-left: 40px;
    font-size: 20px;
    margin-bottom: 5px;
    

  }

.friendList{
    margin-top:60px;
    margin-left:60px;
    background-color:#adcabd;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-right: 715px;
    border-radius: 5px;
    border:5px;
     
  }

  .allergic{
    margin-left: 10px;
    margin-bottom: 0px;
    margin-top: 0px;
    /* color:white; */
  }

  .severity{
    margin-left: 10px;
    margin-bottom: 0px;
    margin-top: 5px;
    /* color:white; */
  }

  .name{
    margin-left: 10px;
    margin-bottom: 0px;
    margin-top: 5px;
    /* color:white; */
    /* text-decoration: underline 1px;  */
    

  }

  .treatment{
    margin-left: 10px;
    margin-bottom: 10px;
    margin-top: 5px;
    /* color:white; */
  }

  
.delete{
  background-color:#5a766e;
  font-weight:bold;
  color: white;
  margin-left: 10px;
}

.delete:hover{
  background-color:#385a50;
  font-weight:bold;
  color: white;
  margin-left: 10px;
}

.Emergency{
  font-weight:bold;
  font-style: italic;
  color: #c63b55;
  padding-left:50px;
  
}