
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,600;1,400&family=Source+Serif+Pro:wght@400;600&display=swap');/*Typography
--------------------------------------------------------------*/

.Severities{
    margin-left:50px;
    margin-top: 0px;
    margin-bottom: 35px;
}

.Description{
    margin-left:0px;
    margin-bottom: 10px;
    margin-top: 0px;

}

.Header{
    font-family: "Source Serif", serif;
    letter-spacing: 2px;
    text-align: center;
    text-transform: uppercase;
}


.Level{
    margin-left:0px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size:20px;
    font-family: "Source Serif", serif;
    

}

.Treatment{
    margin-left:0px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size:14px;
    font-family: "Raleway", serif;
    font-weight:600;
    text-transform: uppercase;

}

.Source{
    background-color:white;
    padding-bottom: 200px;
}