
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,600;1,400&family=Source+Serif+Pro:wght@400;600&display=swap');


.Severities{
    margin-left:50px;
    margin-top: 0px;
    margin-bottom: 35px;
}

.Description{
    margin-left:0px;
    margin-bottom: 10px;
    margin-top: 0px;

}

.Header{
    font-family: "Source Serif", serif;
    letter-spacing: 2px;
    text-align: center;
    text-transform: uppercase;
}


.Level{
    background-color: #adcabd;
    margin-left:0px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size:20px;
    font-family: "Source Serif", serif;
    padding-left:5px;
    

}

.Treatment{
    margin-left:0px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size:14px;
    font-family: "Raleway", serif;
    font-weight:600;
    text-transform: uppercase;
    font-weight: bold;
   

}

.Source{
    background-color: white;
    padding-bottom: 20px;
    padding-left: 30px;
    
}

.people__Allergy{
    padding: 0px;
    margin-left: 0px;
    font-weight: bold;
    color:#c63b55;
    
}