@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,600;1,200&family=Source+Serif+Pro:wght@400;600&display=swap');
/*Typography
--------------------------------------------------------------*/

.navbar {
    display: flex;
    flex-wrap: nowrap;
    background-color:#6e7f62;
    padding: 5px;
}

.navbar__item {
    flex-basis: 20%;
    list-style-type: none;
    text-align: right;
}

.navbar__link {
    font-family: "Raleway", serif;
    font-weight:600;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: none;
    color: white
}

.header {
    font-family: "Source Serif Pro", serif;
    font-weight: 600;
    letter-spacing: 2px;
    font-size:35px;

}



.navbar__link:visited {
    color: white;
  }
  
  /* mouse over link */
  .navbar__link:hover {
    color: #e7d97b;
  }

  /* a{
    text-decoration: none; 
    text-transform: uppercase;
}

a:visited {
    color: rgb(65, 63, 63);
  } */