@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&family=Raleway:ital,wght@0,400;1,200&display=swap');
/*Typography
--------------------------------------------------------------*/

.navbar {
    display: flex;
    flex-wrap: nowrap;
    
    background-color: aquamarine;
    padding: 5px;
}

.navbar__item {
    flex-basis: 20%;
    list-style-type: none;
    text-align: right;
}

.navbar__link {
    font-family: "Raleway", serif;
    letter-spacing: 2px;
}

.header {
    font-family: "Raleway", serif;
    letter-spacing: 2px;
    font-size:30px;

}